# Ігнорування папок середовища розробки
.idea/
.kotlinc/
*.iml

# Ігнорування файлів збірки
/build/
app/build/

# Ігнорування файлів кешу та логів
.gradle/
*.log

# Локальні конфігурації, які не потрібно зберігати в репозиторії
local.properties

# Файли підпису, ключі
*.keystore

# Інші небажані файли
.DS_Store
